<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMMSDemo.My.MySettings.DBCMMSConnectionString" connectionString="Data Source=SHYAM-PC\TOWNSUITE;Initial Catalog=DBCMMS;Persist Security Info=True;User ID=sa;Password=Wheymu1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
